$primario: #9a41ab;
$secundario: #6ade78;
$terciario: #e2a5d5;
$cuarto: #41ab89;
$fuente-principal: Arial, sans-serif;
$color-texto: #ffffff;

body {
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: $primario;
  font-family: $fuente-principal;
  color: $color-texto;
}

.container {
  max-width: 600px;
  padding: 20px;
  text-align: center;
  background-color: $secundario;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-left: 5px;
  margin-right: 5px;

  @media (min-width: 630px) {
    margin-left: auto;
    margin-right: auto;
  }
}

/* Estilos del encabezado */
.container-header {
  margin: 20px;
  background-color: $terciario;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container-header h1 {
  color: $color-texto;
  font-size: 32px;
  margin: 0;
}

/* Estilos del menú */
.container-menu {
  background-color: $cuarto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.container-menu h2 {
  color: $color-texto;
  font-size: 24px;
  margin: 0;
}
